//
// Import Mixins
//

@require "mixin/*"

//
// Global Reset
//

* {
  margin: 0
  padding: 0
  border: none
  box-sizing: border-box
}

//
// Wrapper Style
//

body
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-family: YuGothic, "ŸàƒSƒVƒbƒN", "Hiragino Kaku Gothic ProN", "ƒqƒ‰ƒMƒmŠpƒS ProN W3", Meiryo, "ƒƒCƒŠƒI", sans-serif
  font-size: 16px
  line-height: 1
  color: #000
