bgImage(bgUrl, brightness)
  background: "url(%s)" % bgUrl
  background-position: center
  &:before
    content: ""
    position: absolute
    display: block
    left: 0
    right: 0
    top: 0
    bottom: 0
    background: alpha(#fff, brightness)
    
bgCover(bgUrl, brightness=0)
  bgImage(bgUrl, brightness)
  background-repeat: no-repeat
  background-size: cover
  
bgContain(bgUrl, brightness=0)
  bgImage(bgUrlm brightness)
  background-repeat: no-repeat
  background-size: contain

&.background-sample
  bgCover("http://placebear.com/640/480", .75)
