&
  font-weight: bold
  line-height: 1.4
  text-align: center
  text-shadow: 0 0 .2em alpha(#000, .2)

// font-size ‚Í 100% = ‰æ–Ê‚Ì‚‚³

h1
  font-size: 18%
  margin: .5em 0 0 0
  
h2
  font-size: 12%
  margin: .5em 0 0 0
  
h3
  font-size: 8%
  margin: .5em 0 0 0

p
  font-size: 5%
  width: 50%
  text-align: left
  margin: .5em auto 0 auto
  
strong
  color: #ddd;
  -webkit-text-stroke: .03em black
  
a
  color: #aaa;
  
a:hover
  text-decoration: none

ul,
ol
  width: 50%
  font-size: 5%
  text-align: left
  margin: 1em auto 0 auto
  
ul>li
  list-style-type: disc;
ol>li
  list-style-type: decimal;
    
img
  display: block
  margin: 1em auto 0 auto
  font-size: 5%
